body{
    background-color: #f8f9fd;
  }
  

  .contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .petframe {
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 15px;
    background-color: #fff;
    
  }

.petphoto{
    width: 350px;
    height: 250px;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.petphoto img{
    width: 350px;
    height: auto;
    overflow: hidden;
}

.petintro{
    width: 350px;
    padding: 25px;
    height: 350px;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-wrap: break-word;
   
}

.petintro span{
    font-size: 22px;
    font-weight: 800;
    color: black;
    border-radius: 5px;
    margin-left: 13px;

}

.petintro img{
    width: 16px;
    height: auto;

}

.petintro p{
    font-size: 16px;
    margin-left: 13px;
   

}
.petintro k{
    font-size: 15px;
    color: aliceblue;
}

.petintro a{
    font-size: 17px;
    font-weight: 600;
    margin-left: 23px;
    color: #070504;
    padding: 6px 10px 6px 10px;
    background-color: beige;
    border-radius: 10px;
    
}

.petintro a:hover{
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.filter{
    padding: 20px 200px 20px 200px;
}



.chatuser{
    width: 1100px;
    height: auto;
    background-color: #fff;
    padding: 50px;
    box-shadow: 0px 24px 48px -13px rgba(0, 0, 0, 0.1);
    

}

.chatuser span{
    font-size: 20px;
    font-weight: 600;
    color: #070504;
    padding: 12px 20px 12px 20px;
    background-color: beige;
    border-radius: 10px;
    
}

.chatuser img{
    width: 40px;
    height: auto;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;

}

.chatuser p{
    font-size: 20px;
    display: inline;
    margin-right: 100px;
    color: #070504;
}

.chatuser a{
    font-weight: 700;
    color: #5579c6;
}

.intromy{
    border-radius: 30px;
    padding: 13px 25px 13px 25px;
    background-color: #f8f9fd;
    margin-right: 20px;
    border: #fff;
}

.intromy img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.intromy span{
    font-size: 15px;
    font-weight: 600;
    color: black;
}



.search1 {
    width: 100%;
}

.search1 form{
    margin-left: 202px;
}

#searchinput {
    padding: 8px;
    border-radius: 30px;
    font-size: 16px;
    background-color: #f5f5dc;
    border: none;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-right: 57px;
    padding-left: 10px;
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    color: #070504;
}

#searchinput:focus {
    outline: none; 
    border: none;
}


#searchsubmit {
    padding: 8px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #f5f5dc;
    border: none;
    font-size: 16px;
    margin-left: -57px;
}

#searchsubmit:focus {
    outline: none; 
    border: none;
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5f5dc;
    padding: 10px;
    z-index: 1000;
}

.topp {
    display: flex; 
    position: relative;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
 
}
.topp p{
    padding: 10px 20px; 
    font-size: 22px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
  
}

.topp a {
    padding: 10px 20px; 
    font-size: 17px;
    font-weight: 800;
    color: #000;
    text-decoration: none;
    margin-right: 5px;
   
    
}

.topp a:hover{
    background-color: #deb887;
    border-radius: 10px;
    color: #fff;
}

.topp a.active{
    background-color: #deb887;
    border-radius: 10px;
    color: #fff;
    
}

#aaa{
    position: absolute;
    top: 0;
    right: 0; 
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 60px;
    
}

.intromy{
    border-radius: 30px;
    padding: 13px 25px 13px 25px;
    background-color: #f8f9fd;
    margin-right: 20px;
    border: #fff;
}

.intromy img{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.intromy span{
    font-size: 17px;
    font-weight: 600;
    color: black;
}

.under{
    position: absolute;
    top: 90px;
}


.gridd{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 100px;
}

#left{
    height: auto;
}

#left img{
    max-width: 500px;
    width: auto;
    height: auto;
    margin-left: 80px;
   
}




#right{
     height: auto;
    
}


#right form{
    padding: 30px;
    width: 650px;
    background-color: #f5f5dc;  
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


#bbb{
    display: inline-block;
    margin: 10px;
    
}
#bbb p{
    display: inline-block;
    padding: 5px 10px;
    background-color: #deb887;
    border: none;
    color: #000;
    font-weight: 550;
    border-radius: 3px;
    font-size: 15px;
    margin-right: 10px;
}

#bbb input[type="text"]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 13px;
    border: none;
    background-color: #fff;
    width: 60px;
}

#bbb input[type="text"]:focus{
    border: none;
    outline: none;
}

#bbb input[type="number"]:focus{
    border: none;
    outline: none;
}

#bbbb{
   
    margin: 10px;
   
    
}
#bbbb p{
    display: none;
    padding: 5px 10px;
    background-color: #deb887;
    border: none;
    color: #000;
    font-weight: 550;
    border-radius: 3px;
    font-size: 15px;
    margin-right: 10px;
    width: 90px;
    
}

#add_medical_field{
    display: none;
    padding: 10px 15px;
    background-color: #deb887;
    color: #000;
    font-size: 12px;
    border: none;
    border-radius: 2px;
    margin: 10px;
    cursor: pointer; 
}



#bbbb input[type="text"]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #fff;
    height: 4em;
    width: 40ch;
    margin: 5px;
}

#bbbb input[type="text"]:focus{
    border: none;
    outline: none;
}

#bbbb input[type="date"]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    border: none;
    background-color: #fff;
    height: 4em;
    width: 30ch;
    margin: 5px;
}
#bbb select{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 13px;
    border: none;
    background-color: #fff;
    width: 100px;
}



#bbb input[type="number"]{
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    padding: 8px 13px;
    border: none;
    background-color: #fff;
    width: 60px;
}

#bbb input[type="radio"]{
    font-size: 16px;
    font-weight: 500;
}

#character{
    border: none;
    font-size: 15px;
    color: #000;
    font-weight: 550;
    border-radius: 10px;
    padding: 10px;
}
#character:focus{
    border: none;
    outline: none;
}

#kidpet{
    border: none;
    font-size: 15px;
    color: #000;
    font-weight: 550;
    border-radius: 10px;
    padding: 10px;
}
#kidpet:focus{
    border: none;
    outline: none;
}

#explain{
    border: none;
    font-size: 15px;
    color: #000;
    font-weight: 550;
    border-radius: 10px;
    padding: 10px;
}
#explain:focus{
    border: none;
    outline: none;
}

#ccc p{
    display: inline-block;
    font-size: 16px;
    font-weight: 550;
    color: #000;
    margin-right: 5px;
}


#buttonna{
    margin-top: 20px;
    padding: 10px 100px;
    background-color: #deb887;
    border: none;
    color: #fff;
    font-weight: 550;
    border-radius: 5px;
    font-size: 20px;
}

