body {
    background: url("images/bgpet.png") no-repeat -30px -60px fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
     
    }   
  
  #form {
    background-color: #f5f5dc;
    width: 50%; /* Adjusted width */
    border-radius: 30px;
    margin: 80px auto; 
    padding: 40px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    margin-top: 300px;
    
  }
  
  #btn {
    color: #000;
    background-color: #DBD2C9;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 800;
  }
  
  #btn:hover {
    color: #fff;
    background-color: #b8a692; /* Darken the background on hover */
  }
  
  .pet-photo {
    display: flex;
    justify-content: space-around; /* Arrange pet photos evenly */
    margin-bottom: 30px; /* Add some space between the pet photos */
  }
  
  .pet-photo img {
    border-radius: 50%; /* Make the pet photos circular */
    border: 4px solid #fff; /* Add a white border around the pet photos */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .pet-photo img:hover {
    transform: scale(1.1); /* Zoom in on hover */
  }
  .h1{
    font-size: 25px;
    font-family: "cursive", sans-serif;
  }

  #form input[type="text"],
  #form textarea{
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
  }

  #form input[type="text"],
  #form textarea:focus{
    outline: none;
    border: none;
    font-size: 16px;
  }
  #form select{
    width: 35%;
    padding: 5px;
    margin-bottom: 8px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
  }

  #form select:focus{
    outline:none;
    border: none;
  }

  #form input[type="date"],
  #form input[type="email"] 
  #form input[type="tel"]{
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
  }

  #form input[type="date"],
  #form input[type="email"] 
  #form input[type="tel"]:focus{
    outline: none;
    border: none;
  }


#form input[type="password"] {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
}

#form input[type="password"]:focus {
 outline: none;
  border: none;
}
